body {
  width: 100%;
  margin: 0;
  padding: 0px;
  background-color: rgba(196, 198, 212, 0.178);
}

ul {
    list-style-type: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: monospace;
    width: 100%;
  }

li {
    padding: 30px;
    margin: 10px;
    border-radius: 12px;
    width: 40%;
    display: inline-flex;
}

.win {
  background-color: rgba(0, 255, 0, 0.3);
}

.loss {
  background-color: rgba(255, 0, 0, 0.3);
}

.over {
  background-color: rgb(235, 235, 235);
}